.login-background{
  height: 100vh;
  background-image: url("../src/images/login.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20%;

}

.login-wrapper h1{

  text-shadow: 200px 2px 8px #000000;
}

.login-wrapper p{
  margin-bottom: 0;
  text-shadow: 200px 2px 5px #000000;
}

.login-wrapper input{
  margin-bottom: 20px;
  box-shadow: 200px 2px 10px #000000
}
.login-wrapper button{
  box-shadow: 200px 2px 10px #000000;
}

.login-wrapper button:hover{
  box-shadow: 200px 2px 10px #000000;
}

/*HOME*/
#inputSearch{
  border-radius: 5px;
  margin: 30px;
  margin-left: 70px;
}

.movieTitle{
  font-size: 18px;
  text-align: center;
  max-width: 300px;
  height: 60px;
}
.movieWrapper{
  display: grid;
  justify-content: center;
  grid-template-columns: 20% 20% 20% 20%;
}

.movieWrapperSearched{
  display: grid;
  justify-content: center;
  grid-template-columns: 20% 20% 20% 20%;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(187,210,222,1) 22%, rgba(158,190,207,1) 41%, rgba(157,190,207,1) 53%, rgba(183,207,218,1) 67%, rgba(212,230,236,1) 80%, rgba(255,255,255,1) 100%);
}
.movieSearch{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
}

#txtInput{
  margin: 2%;
  margin-left: 4%;
}

.btnRate{
  width: 8rem;
  height: 2rem;
  text-align: center;
  border-radius: 5px;
}

.btnBox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoomedWrapper{
  position: fixed;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0,0.8);
  z-index: 1000;
  
}

.movieZoomed{
  margin-top: 200px;
  position: absolute;
  top: 25%;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: aliceblue;
}

.movieImage{
  margin-right: 100px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zoomedRate{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-bottom: 50px;
}

.button-28 {
  appearance: none;
  background-color: #fff;
  border: 2px solid #263238;
  border-radius: 15px;
  box-sizing: border-box;
  color: #263238;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 175px;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #263238;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

#searchbtn{
  margin-right: 20px;
}

.btnRatedMovies{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

#closeButton{
  appearance: none;
  background-color: #fff;
  border: 2px solid #263238;
  border-radius: 15px;
  box-sizing: border-box;
  color: #263238;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  outline: none;
  text-align: center;
  text-decoration: none;
  width: 30px;
  
  
}

.zoomedOverview{
  /*background-color: rgba(0, 0, 0, 0.5);*/
  padding: 10px;
  width: 120%;
}

hr {
  display: block;
  border-top: 1px solid #000000;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2%;
}


.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
 
}

.spinner {
  border: 7px solid #ffffff;
  border-top: 7px solid #3498dbc7;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 10%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.blur {
  filter: blur(8px);
}

.table-container {
  margin: 20px auto;
  max-width: 800px;
}

table {
  width: 80%;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px 15px;
  text-align: left;
}

thead th {
  background-color: #f5f5f5;
  font-weight: 600;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

td {
  font-size: 14px;
}

.custom-confirm-button-class {
  background-color: #263238 !important;
  color: #fff !important;
}

.custom-confirm-button-class:hover {
  background-color: #455761 !important;
}

.custom-confirm-button-class:focus {
  outline: none !important;
  box-shadow: none !important;
}
.custom-content-class{
  border-radius: 50px !important;
  height: 200px !important;
}