
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*HOME*/
#inputSearch{
  border-radius: 5px;
  margin: 30px;
  margin-left: 70px;
}

.movieTitle{
  font-size: 18px;
  text-align: center;
  max-width: 280px;
}
.movieWrapper{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.movieSearch{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#txtInput{
  margin: 2%;
  margin-left: 4%;
}

.btnRate{
  width: 8rem;
  height: 2rem;
  text-align: center;
  border-radius: 5px;
}

.btnBox{
  display: flex;
  justify-content: center;
  align-items: center;
}